{% extends 'paginas/base.html' %}

{% block title %}Serviços - Clínica Saúde{% endblock %}

{% block content %}
<h2 class="text-center text-primary mb-4">Nossos Exames</h2>
<div class="row g-4">
    <div class="col-md-4">
        <div class="card bg-info text-white text-center">
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-vial"></i> Exame de Sangue</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-info text-white text-center">
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-flask"></i> Exame de Urina</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-info text-white text-center">
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-microscope"></i> Exame de Fezes</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-info text-white text-center">
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-heartbeat"></i> Eletrocardiograma</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-info text-white text-center">
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-heart"></i> Ecocardiograma</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-info text-white text-center">
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-x-ray"></i> Ultrassom</h5>
            </div>
        </div>
    </div>
</div>
{% endblock %}